*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family : arial;
}

h2
{
	text-align: center;
	font-weight: 150;
}

nav
{
	background-color: #6E2C00;
	padding : 10px;
	text-align: center;
	width: 100%;
}
nav.menus-nav ul li.btn
{
	list-style-type: none;
	display: inline-block;
}
nav.menus-nav ul li.btn a
{
	color : white;
	text-decoration: none;
	padding : 10px;
}
nav.menus-nav ul li.btn:hover a 
{
	background-color: #A97607;
}

body
{
	font-family: "Trebuchet MS", Verdana, Geneva, Arial;
}
label.logo
{
	color :white;
	font-size : 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;

}

#devblanc
{
	margin:0 auto;
	background-color: white;
	align-content: center;
}
p
{
	text-align: none;
	margin-right: 400px;
	margin-left: 400px;
}
h3
{
	text-align: none;
	margin-right: 400px;
	margin-left: 400px;
	font-weight: 150;
}
footer
{
	color:white;

	bottom: 0px;
	width: 100%;
	background-color: #6E2C00;
	text-align: center;
}
p.milieutext
{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
img.milieu
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.epita
{
	width: 150px;
	height: 100px;
}
p.liendel
{
	margin-left: 420px;
}
a.link
{
	color: #C35206
}
a.link:hover
{
	color : #9C4002
}

